@model ArticleDetailsViewModel

<h2 class="text-center">@Model.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Article Image">
        </div>
        <div class="card col-8 border-0">
            <p>(@Model.PublishedDateTime.ToString("dd/MM/yyyy"))</p>
            <p>Read @Model.ReadCount times</p>
            <p>@Model.Information</p>
            <p>Likes: <b>@Model.Likes</b></p>
            <div class="form-inline">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <form method="post" asp-action="Like" asp-route-id="@Model.Id">
                        <input type="submit" value="Like" class="btn btn-info" />
                    </form>
                    <a class="ml-2 btn btn-warning" asp-controller="Article" asp-action="Edit"
                       asp-route-id="@Model.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="Article" asp-action="Delete"
                       asp-route-id="@Model.Id">Delete</a>
                }
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Publisher Info</h5>
                    <p class="card-text">Email: @Model.Publisher.Email</p>
                </div>
            </div>
        </div>
    </div>
</div>