@model TeamDetailsViewModel

<h2 class="text-center">@Model.Name</h2>
<hr />
<div class="container" id="teamDetailsAlingment">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" id="teamDetailsPhoto"
                 src="@Model.ImageUrl" alt="Article Image">
        </div>
        <div class="card col-8 border-0">
            <p>Championships: <b>@Model.Championships</b></p>
            <p>Wins: <b>@Model.Wins</b></p>
            <p>Pole Positions: <b>@Model.PolePositions</b></p>
            <p>Points this season: <b>@Model.Points</b></p>
            <p>Total points: <b>@Model.TotalPoints</b></p>
            <p>Wins: <b>@Model.Wins</b></p>
            <p>Drivers: <b>@String.Join(" and ", Model.Drivers)</b></p>
            <div class="form-inline">
                @if (this.User.IsAdmin())
                {
                    <a class="btn btn-warning" asp-controller="Driver" asp-action="Edit"
                       asp-route-id="@Model.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="Driver" asp-action="Delete"
                       asp-route-id="@Model.Id">Unactivate</a>
                }
            </div>
        </div>
    </div>
</div>