@model IEnumerable<DriversStandingViewModel>
@{
    ViewBag.Title = "Drivers standing";
    int counter = 1;
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center">
    <a class="btn btn-warning" asp-controller="Standing" asp-action="Teams">Teams standing</a>
</div>
<br />
<div class="text-center">
    <a class="btn btn-danger" asp-controller="Standing" asp-action="Reset">Reset (End Championship)</a>
</div>

<ul class="list-group">
    @foreach (var driver in Model)
    {
        <li class="list-group-item" style="margin: 10px; background-color:#fcf5f5;">
            <a class="btn btn-warning" style="float:right;" asp-controller="Standing" asp-action="AddResult" asp-route-id="@driver.Id">Add results</a>
            <h2 class="li">@counter</h2><h5> Place</h5>
            <hr />
            <p class ="h2">
                <img class="img-thumbnail" style="max-width: 10%; height: auto;" src="@driver.ImageUrl" alt="Driver Image">
                @driver.Name
            </p>
            <hr />
            <h2>Points: @driver.Points</h2>
            <h5>Team: @driver.TeamName</h5>
        </li>
        counter++;
    }
</ul>