@model IEnumerable<TeamStandingViewModel>
@{
    ViewBag.Title = "Teams standing";
    int counter = 1;
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center">
    <a class="btn btn-warning" asp-controller="Standing" asp-action="Drivers">Drivers standing</a>
</div>

<ul class="list-group">
    @foreach (var driver in Model)
    {
        <li class="list-group-item" style="margin: 10px; background-color:#fcf5f5;">
            <h2 class="li">@counter</h2><h5> Place</h5>
            <hr />
            <p class="h2">
                <img class="img-thumbnail" style="max-width: 10%; height: auto;" src="@driver.ImageUrl" alt="Driver Image">
                @driver.Name
            </p>
            <hr />
            <h2>Points: @driver.Points</h2>
            <h5>Drivers: @driver.TeamDrivers</h5>
        </li>
        counter++;
    }
</ul>