@using Motorsport1.Services.Data.Interfaces;
@model AllArticleViewModel

@inject IArticleService articleService
@{
    bool isUserOwner = await this.articleService.IsUserOwnerOfArticleAsync(Model.Id, this.User.GetId()!);
}
<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Article Image">
        <div class="card-body text-center">
            <h2>@Model.Title</h2>
            <h6>Likes: @(Model.Likes)</h6>
            <h6>Read @(Model.ReadCount) times</h6>
            <br />
            <a asp-area="" asp-controller="Article" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-outline-success">Read</a>
            @if (isUserOwner || this.User.IsAdmin())
            {
                <a asp-area="" asp-controller="Article" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-warning">Edit</a>
                <a asp-controller="Article" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger">Delete</a>
            }
        </div>
    </div>
</div>