@model AllTeamsViewModel
<div class="col-md-5 teamPartialMainDiv">
    <div class="card h-100 d-inline-block">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Team Logo Image">
        <div class="card-body text-center teamPartialCardBody">
            <h2>@Model.Name</h2>
            <h6>Drivers: @String.Join(" and ", Model.Drivers)</h6>
            <br />
            <a asp-area="" asp-controller="Team" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-outline-success">Details</a>
            @if (this.User.IsAdmin())
            {
                <a asp-area="Admin" asp-controller="Team" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-warning">Edit</a>
                <a asp-area="Admin" asp-controller="Team" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger">Unactivate</a>
            }
        </div>
    </div>
</div>