@model AllTeamsViewModel
<div class="col-md-5" style="height: 500px; margin-block: 10px;">
    <div class="card h-100 d-inline-block">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Team Logo Image">
        <div class="card-body text-center" style="position: absolute; bottom: 0; left: 15%; right: 15%">
            <h2>@Model.Name</h2>
            <h6>Drivers: @String.Join(" and ", Model.Drivers)</h6>
            <br />
            <a asp-controller="Team" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>
            @if (this.User.Identity.IsAuthenticated)
            {
                <a asp-controller="Team" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-warning">Edit</a>
                <a asp-controller="Team" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger">Unactivate</a>
            }
        </div>
    </div>
</div>